.loginlayer {
    height: 600px;
    width: 550px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 6px 10px 5px rgb(128, 128, 128);
}

.verticallycenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.pagebackground {
    background-color: burlywood;
}

.makeitcenter {
    margin-top: 0px;
    text-align: center;
}

.makeitboldandstyle {
    color: chocolate;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Sans Serif Collection';
    transition: all 0.2s ease-in-out;
}


.maketheusernamepasswordatcenter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.makegapvertically {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.makegaphorizontally {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formcontrol-ch {
    height: 35px;
    width: 220px;
    padding: 1px;
}

.label-ch {
    height: 40px;
    width: 80px;
    font-size: 18px;
    font-weight: 400;
}

.loginbutton {
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 16px;
    background-color: saddlebrown;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Calibri;
    transition: 0.2s ease-in;
}

    .loginbutton:hover {
        transform: scale(1.1);
        box-shadow: 2px 5px 2px rgb(128, 128, 128)
    }

.accessdeniedbody {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    margin: 0;
    padding: 0;
}

.accessdeniedbox {
    height: 300px;
    width: 600px;
    background-color: orangered;
    border-radius: 12px;
    transition: 0.2s ease-in;

    animation-name: accessdeniedbehavior;
    animation-fill-mode:forwards;
    animation-duration:0.4s;
    animation-timing-function:ease-in;    
}

@keyframes accessdeniedbehavior {
    0% {
        transform: scale(0.86);
    }

    100% {
        transform: scale(1.3);
    }
}

.accessrestrictedtext {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
